.layout {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: medium;
}
#title {
  font-style: oblique;
  font-size: large;
}
#text-box {
  width: 800px;
  margin-right: 155px;
}
#sign-in {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 1100px) {
  #text-box {
    width: 100%;
  }
}