.layout {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e2e7cc;
  font-size: medium;
}
#title {
  font-style: oblique;
  font-size: large;
}
#login {
  display: flex;
  align-items: center;
  gap: 5px;
}
.body {
  display: flex;
}
.sidebar {
  width: 20vw;
}
.home {
  width: 80vw;
  background-color: #d8e4e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

