.layout {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: medium;
}
#title {
  font-style: oblique;
  font-size: large;
}
#sign-in {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 750px) {
  .sidebar {
      display: none;
  }
}
.body {
  display: flex;
}
.home {
  width: 100%;
  height: 105vh;
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
}

